# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode.app

    - name: Build & Test (macOS)
      run: |
        xcodebuild clean test \
          -project EssentialFeed/EssentialFeed.xcodeproj \
          -scheme EssentialFeed \
          -destination 'platform=macOS'


